<div class="row">

  <div class="right clearfix">
    <h1>
    <span class="small_subject"><%= @user.name_kana_method %></span><br>
      <span class="small_subject">名前</span> <span><%= @user.name_method %></span>
      
    </h1>
  </div>

  <hr class="dotted">
    ライクした企業
  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">生年月日</h3>
      <p>
        <%= @user.birthday_method %>
      </p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">住所</h3>
      <p>
        <%= @user.address %>
      </p>
  </div>

  <hr class="dotted">

    <div class="inner_row left clearfix">
    <h3 class="blue_rocket">住所</h3>
      <p>
        <%= @user.address %>
      </p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">最終学歴</h3>
      <p>
        <%= @user.final_education %>
      </p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">職務経歴</h3>
      <p>
        <%= @user.job_history %>
      </p>
  </div>

  <hr class="dotted">


</div>


