<div class="row">
<!-- 名前 -->
<%= @user.name_method %><br />
<%= @user.name_kana_method %>
<br /><br />
<!-- 生年月日 -->
<%= @user.birth_y %>年
<%= @user.birth_m %>月
<%= @user.birth_d %>日
<br /><br />
<!-- 住所 -->
<%= @user.address %>
<br /><br />
<!-- 電話番号未実装※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※-->
<!-- 最終学歴 -->
<%= @user.final_education %>
<br /><br />
<!-- 職務経歴 -->
<%= @user.job_history %>
<br /><br />


</div>