<div class="row clearfix">
  <h1>コピー</h1>
</div>
<div class="row clearfix">
  <ul class="grid">
    <% @companies.each do |company| %>
      <li class="box">
        <a href="/companies/<%= company.id %>" class="inner_grid clearfix">
          <img src="<%= company.image_url %>" alt="<%= company.name %>画像">
          <h3 class="small_subject"><%= company.name %></h3>
          <h3 class="big_subject"><%= company.catch_copy %></h3>
          <span class="info"><%= company.location %></span>
          <figure class="square">詳細</figure>
        </a>
      </li>
    <% end %>
  </ul>

  </div>
</div>