<div class="introduction clearfix">
<p class="copy">コピー<!-- 就職するなら金をくれ--></p>
  <p>JOB MARTは、
  「お金はあるけどスキルがない！」<br>という未経験エンジニア転職を希望されるあなたの為の転職支援サービスです。<br>
  自分の教育コストを自分で負担して、<br>企業にお金を払いながらお仕事に就きましょう！</p>
</div>
<div class="row clearfix">
  <ul class="grid">
    <% @companies.each do |company| %>
      <li class="box">
        <a href="/companies/<%= company.id %>" class="inner_grid clearfix">
          <img src="<%= company.image_url %>" alt="<%= company.name %>画像">
          <h3 class="small_subject"><%= company.name %></h3>
          <h3 class="big_subject"><%= company.catch_copy %></h3>
          <span class="small_subject"><%= company.location %></span>
          <figure class="square">詳細</figure>
        </a>
      </li>
    <% end %>
  </ul>

  </div>
</div>