<div class="row">

  <div class="right clearfix">
    <h1>
      <span class="small_subject">求人情報</span> <a href="<%= @company.url %>"><span><%= @company.name %></span></a>
    </h1>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <img src="<%= @company.image_url %>" alt="<%= @company.name %>画像" class="width_2block left">
  </div>

  <hr class="dotted">

  <div class="inner_row right clearfix">
    <h2 class="big_subject" style="color:#f01616;"><%= @company.catch_copy %></h2>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">事業内容</h3>
    <p><%= @company.business %></p>
  </div>
  
  <hr class="dotted">

  <div class="inner_row right clearfix">
    <h3 class="blue_rocket">仕事内容</h3>
    <p><%= @company.job_description %></p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">求人概要</h3>
    <p><%= @company.offer_information %></p>
  </div>
  
  <hr class="dotted">

  <div class="inner_row right clearfix">
    <h3 class="blue_rocket">応募資格(スキルなど)</h3>
    <p><%= @company.app_qualification %></p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3 class="blue_rocket">年収</h3>
    <p><%= @company.annual_income %></p>
  </div>
  
  <hr class="dotted">

  <div class="inner_row right clearfix">
    <h3 class="blue_rocket">住所</h3>
    <p><%= @company.location %></p>
  </div>

  <hr class="dotted">

  <div class="inner_row left clearfix">
    <h3>勤務時間</h3>
    <p><%= @company.working_hours %></p>
  </div>
  
  <hr class="dotted">

  <%= form_for(@u_to_c_like) do |f| %>
    <%=f.number_field :price, placeholder: "教育コストをいくら自己負担できますか？" %>
    <%= f.hidden_field :company_id, :value => @company.id %>
    <%= f.submit "万円" %>
  <% end %>

</div>