<div class="row">

  企業情報
  <%= @company.name %>
  <br /><br />

  <%= form_for(@u_to_c_like) do |f| %>
    <%=f.number_field :price, placeholder: "教育コストをいくら自己負担できますか？" %>
    <%= f.hidden_field :company_id, :value => @company.id %>
    <%= f.submit "万円" %>
  <% end %>

</div>